@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #304250; /* bg-gray-800 */
  --color2: #f1f1ef; /* bg-gray-200*/
  --color3: #3894a3; /* bg-cyan-600 */
  --color4: #c7dad4; /* text-slate-200  */
}

body {
  margin: 0;
  background-color: var(--color1);
  color: var(--color2);
  overflow: hidden;
  display: block;
}


/* -----------------------------------------------NAVBAR------------------------------------------------------ */

.nav-bar a:hover svg,
.sidebar-list a:hover svg {
  opacity: 0;
}

.nav-bar a:hover::after,
.sidebar-list a:hover::after {
  opacity: 1;
}

.nav-bar a::after,
/* .certs-list a::after, */
.project-set a::after {
  content: "";
  font-size: 30px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  left: -30px;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a.about-link::after {
  content: "ABOUT";
}

a.skill-link::after {
  content: "SKILLS";
}

a.project-link::after {
  content: "PROJECTS";
}

a.contact-link::after {
  content: "CONTACT";
}

a.active {
  color: var(--color1);
}

@media all and (max-width: 800px) {
  .nav-bar a::after,
  .project-set a::after {
    content: "";
    font-size: 15px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 5px;
    left: -20px;
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  a.about-link::after {
    content: "ABOUT";
  }

  a.skill-link::after {
    content: "SKILLS";
  }

  a.project-link::after {
    content: "PROJECTS";
  }

  a.contact-link::after {
    content: "CONTACT";
  }

  a.active {
    color: var(--color1);
  }
}


/* -----------------------------------------------SIDEBAR------------------------------------------------------ */

.sidebar-list a::after {
  content: "";
  font-size: 16px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 2px;
  right: 0;
  left: auto;
  width: max-content;
  text-align: right;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a.ga-icon::after {
  content: "GitHub";
}

a.li-icon::after {
  content: "LinkedIn";
}

@media all and (max-width: 800px) {
  body {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .sidebar-list a::after {
    display: none;
  }
  .sidebar-list a:hover svg {
    opacity: 1;
  }
}